openai==1.14.2
notion-client
requests
python-dotenv==1.0.1
pytz==2024.1
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
requests
Pillow==10.2.0
schedule
pytube==15.0.0
moviepy==1.0.3
notion-client==2.2.1
